<div [ngSwitch]="checkLocation()" class="wrapper">
  <div *ngSwitchCase="''" class="header">
    <div></div>
    <div class="text">PropertyCross</div>
    <app-button text="Faves" [routerLink]="['/favourites']" width="86px" class="btn_wrapper"></app-button>
  </div>
  <div *ngSwitchCase="'/locations'" class="header">
    <app-button text="Back" [routerLink]="['/']"></app-button>
  </div>
  <div *ngSwitchCase="'/favourites'" class="header">
    <app-button text="Back" [routerLink]="['/']"></app-button>
    <div class="text">Favourites</div>
    <div></div>
  </div>
  <div *ngSwitchDefault class="header">
    <app-button text="Back" [routerLink]="['/locations']"></app-button>
    <div class="text">Property Details</div>
    <app-button text="Faves" [routerLink]="['/favourites']"></app-button>
  </div>
</div>
