<div class="wrapper">
  <div class="text">{{countListings}} of {{total_results}} matches</div>
  <div *ngFor="let listing of listingArray" [routerLink]="['/locations/detail', listing.index_location]" class="location">
    <div class="img_wrapper">
      <img [src]="listing.img_url" [width]="listing.thumb_width" [height]="listing.thumb_height">
    </div>
    <div class="text_wrapper">
      <div>{{listing.price_formatted}}</div>
      <div>{{listing.title}}</div>
    </div>
  </div>
  <div *ngIf="listingArray.length">
    <app-button text="{{text}}" (click)="loadMore()" *ngIf="hideLoadButton()"></app-button>
    <div class="bottom_text">Results for {{search_term}}, showing {{countListings}} of {{total_results}} properties</div>
  </div>
</div>

