<div>
  <div>
    <h2>PropertyCross</h2>
    <app-button text="Faves" width="50px" type="button" (click)="navigate('/favorites')"></app-button>
  </div>

  <div>
    Use the form below to search for houses to buy. You can search by place-name, postcode or click 'My location',
    to search in your current location
  </div>
  <form [formGroup]="form">
    <input type="text" formControlName="place" [class.error]="!this.form.get('place').value && this.form.get('place').dirty">
    <app-button text="Go" width="20px" (click)="search()"></app-button>
  </form>
  <app-button text="My location" width="80px" type="button" (click)="searchMyLocation()"></app-button>

  <!--<div *ngIf="!error">-->
    <!--<div>{{text}}</div>-->
    <!--<table>-->
      <!--<tr *ngFor="let item of list"> {{item}} </tr>  // list -> listLocation && listSearch -> will to think about rename-->
    <!--</table>-->
  <!--</div>-->

  <!--<div *ngIf="error">{{error}}</div>-->
</div>
