.wrapper {
  width: 640px;
  margin: 0 auto;
}

.btn_wrapper {
  text-align: right;
  margin: 10px 0;
}

.text {
  font-size: 32px;
  font-weight: bold;
}

.title_text {
  font-size: 28px;
  margin: 10px 0;
}

img {
  width: 100%;
}

.descr_text {
  margin: 15px 0;
  font-size: 20px;
}

.bottom_text {
  font-size: 20px;
}
